body {
    display: flex;
    align-items: center;
}

.splash-container {
    display:flex;
    flex-direction: column;
    border: 100px, solid, black;
    background-image: url(./assets/splash.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    place-items: center;
    width: 30%;
    height: 100vh;
}

.splash-banner {
    margin-top: 20vh;
    width: 100%;
    height: fit-content;
    display:flex;
    place-items: center;
    margin-bottom: auto;
    background-color: rgba(0, 0, 0, 0.521)
}

footer {
    margin-top: auto;
}

.logo {
    width: 200px;
    height: 200px;
}

h1 {
    font-family: 'Shantell Sans', cursive, Arial, sans-serif;
    font-size: 3.5em;
}

.body-containter{
    width: 60%;
}