body {
    display: flex;
    align-items: center;
}

.splash-container {
    display:flex;
    border: 100px, solid, black;
    background-image: url(./assets/splash.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    align-items: center;
    width: 30%;
    height: 100vh;
}

.splash-banner {
    width: 100%;
    height: fit-content;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: rgba(0, 0, 0, 0.521)
}

.logo {
    width: 200px;
    height: 200px;
}

.body-containter{
    width: 60%;
}